* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0px 0px;
}

/* WHOLE PAGE CONTAINER */

.container-whole-page {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  width: 320px;
  display: flex;
  flex-direction: column;
}
/* MAIN CONTAINER WITH MENU + 2 MAIN ARTICLES */

.container-main {
  background-color: #e3b2ae;
  display: flex;
  flex-direction: column;
}

/* NAVIGATION */

nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.container-logo {
  display: flex;
}

.logo {
  width: 80px;
  height: 41px;
  margin: 15px;
}

.container-menu {
  display: flex;
  justify-content: flex-end;
}

#menu {
  width: 16px;
  height: 12px;
  margin-right: 20px;
  visibility: visible;
  justify-content: flex-end;
}

/* FIRST MAIN ARTICLE */

.container-article-big-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.container-article-big-1 img {
  width: 296px;
  height: 296px;
  margin-bottom: 10px;
}

.container-article-big-1 p {
  margin: 5px 50px 10px 20px;
}

.container-article-big-1 button {
  border: none;
  background: none;
  text-align: left;
  text-decoration: underline;
  color: grey;
  margin-bottom: 70px;
  margin-left: 20px;
  font-size: 14px;
  justify-self: left;
  width: 320px;
}

/* SECOND MAIN ARTICLE */

.container-article-big-2 {
  height: 270px;
}

.container-article-big-2 img {
  width: 296px;
  height: 296px;
  margin-bottom: 10px;
  float: right;
}

.container-article-big-2 p {
  margin: 150px 0px 5px 40px;
  max-width: 250px;
  position: absolute;
  z-index: 1;
}

.container-article-big-2 button {
  border: none;
  background: none;
  text-align: left;
  text-decoration: underline;
  color: grey;
  position: absolute;
  z-index: 1;
  margin: 250px 0px 70px 40px;
  font-size: 14px;
}

/* SMALL ARTICLES */

.container-articles-small {
  width: 320px;
}

.article-small {
  display: inline-flex;
}

.text {
  flex-direction: column;
}

.text-left {
  font-size: 16px;
  font-weight: 500;
  padding: 50px 20px 10px 20px;
  line-height: 20px;
}

.button-time {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}

.posted-time {
  font-size: 14px;
  font-weight: 400;
  color: #e3b2ae;
}
.image {
  padding: 50px 0px 0px 0px;
}
.article-small img {
  width: 104px;
  height: 104px;
}

.article-small button {
  border: none;
  background: none;
  text-align: left;
  text-decoration: underline;
  color: grey;
  font-size: 14px;
}

/* THIRD MAIN ARTICLE */

.container-article-big-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 320px;
}

.container-article-big-3 img {
  width: 296px;
  height: 296px;
  margin-top: 10px;
}

.text-big {
  margin: 30px 50px 10px 20px;
}

.container-article-big-3 button {
  border: none;
  background: none;
  text-align: left;
  text-decoration: underline;
  color: grey;
  font-size: 14px;
  justify-self: left;
  margin-right: 130px;
}

/* NEWSLETTER */

.container-newsletter {
  background-color: #ffff93;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  height: 320px;
  margin-top: 40px;
}

.title-newsletter {
  display: inline-flex;
  font-size: 32px;
  font-weight: 500;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 50px;
}

.email {
  display: flex;
  justify-content: center;
}

.email input {
  height: 40px;
  border: none;
  text-align: center;
  font-size: 16px;
}

::placeholder {
  color: black;
  opacity: 1;
}

.CTA {
  display: flex;
  justify-content: flex-end;
}

.CTA button {
  border: none;
  background: black;
  text-align: center;
  color: white;
  font-size: 16px;
  width: 50%;
  padding: 10px 5px;
  margin-right: 35px;
}

.social-network-icons {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.insta-icon {
  padding-right: 20px;
}

/* LOGO END */

.container-logo-end {
  position: relative;

  margin-top: 60px;
}

.h-y {
  position: relative;
  left: 30%;
}

.loading-icon {
  position: absolute;
  left: 40%;
  top: 15%;
}

/* MENU WHEN OPENED */

#container-menu-open {
  width: 320px;
  height: 568px;
  display: none;
  position: absolute;
  flex-direction: column;
  padding-left: 20px;
  background-color: white;
}

.logo-close {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.cross {
  height: 12px;
  margin-left: auto;
  padding-right: 20px;
}

.menu-list {
  font-size: 22px;
  font-weight: 500;
}

.menu-list p {
  margin-bottom: 20px;
}

.social-network-contact {
  display: inline-flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 30px;
}

.social-network {
  display: flex;
}

.contact {
  display: flex;
  padding-right: 20px;
  opacity: 0.3;
  font-size: 14px;
}

.insta-icon {
  padding-right: 20px;
}
