* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  width: 320px;
}

/* MAIN CONTAINER WITH MENU + 2 MAIN ARTICLES */

.container-main {
  background-color: #e3b2ae;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
}

/* NAVIGATION */

nav {
  display: inline-flex;
  align-items: center;
}

.container-logo {
  display: flex;
}
.logo {
  width: 80px;
  height: 41px;
  margin: 15px;
}

.container-menu {
  display: flex;
  justify-content: flex-end;
}

#menu {
  width: 16px;
  height: 12px;
  margin-right: 20px;
  visibility: visible;
}

/* FIRST MAIN ARTICLE */

.container-article-big-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.container-article-big-1 img {
  width: 296px;
  height: 296px;
  margin-bottom: 10px;
}

.container-article-big-1 p {
  margin: 5px 50px 10px 20px;
}

.container-article-big-1 button {
  border: none;
  background: none;
  text-align: left;
  text-decoration: underline;
  color: grey;
  margin-bottom: 70px;
  margin-left: 20px;
}

/* SECOND MAIN ARTICLE */

.container-article-big-2 {
  height: 270px;
}

.container-article-big-2 img {
  width: 296px;
  height: 296px;
  margin-bottom: 10px;
  float: right;
}

.container-article-big-2 p {
  margin: 150px 0px 5px 40px;
  max-width: 250px;
  position: absolute;
  z-index: 1;
}

.container-article-big-2 button {
  border: none;
  background: none;
  text-align: left;
  text-decoration: underline;
  color: grey;
  position: absolute;
  z-index: 1;
  margin: 250px 0px 70px 40px;
}

/* SMALL ARTICLES */

.container-article-list {
  border: 2px black solid;
  display: inline-flex;
  flex-wrap: wrap;
}

.article-small {
}

.text {
  border: 2px red solid;
  flex-direction: column;
  max-width: 50%;
}

.image {
  border: 2px blue solid;
  max-width: 50%;
  justify-content: flex-end;
}
.article-small img {
  width: 104px;
  height: 104px;
}
